:root {
  color-scheme: light dark;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  max-width: 80ch;
  margin: 0 auto;
  padding: 0 1rem 4rem;
}

pre {
  overflow-x: auto;
  padding: 0.75rem 1rem;
}

code {
  font-family: ui-monospace, monospace;
}

img {
  max-width: 100%;
}

.aside {
  float: left;
  max-width: 30%;
  margin: 0 1rem 0.5rem 0;
}
